    <div class="container-fluid" style="cursor:default;padding-top:30px;">
      <div class="row">
        <div class="col-sm-12">
          <div class="single-movie">
            <div class="col-sm-6">
              <img id="poster" [src]="movieInfo.poster" class="img-responsive img-thumbnail center-block undraggable"
                onError="this.src='assets/images/default-poster.jpg';">
            </div>
            <div class="col-sm-6">
              <div class="details">
                <div *ngFor="let propName of moviePropDisplay" [class]="propName">
                  <span>{{propName | titlecase}} : </span>
                  <span>{{movieInfo[propName]}}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
