body {
  overflow: hidden;
  height: 100%;
  font-family: 'Open Sans', sans-serif;
  color: #fff;
  user-select: none;
  background: linear-gradient(135deg, #ff00cc 0%, #333399 100%);
}

html {
  height: 100%;
}
